<!DOCTYPE html>
<html>
<head>
	<title>welcome admin Home page</title>
</head>
<body>
	<h1>welHome admin Home page</h1>
	<a href="/user/adduser">Add customer</a> | 
	<a href="/customer/customeeList">customerList</a> | 
	<a href="/logout">logout</a>
	<table border="1">
		<tr>
			<td>NAME:</td>
			<td><%= Name %></td>
		</tr>
		<tr>
			<td>ADDRESS:</td>
			<td><%= address %></td>
		</tr>
		<tr>
			<td>CONTACT NO:</td>
			<td><%= contact no %></td>
		</tr><tr>
			<td>EMAIL:</td>
			<td><%= email %></td>
		
		<tr>
			<td>PASSWORD</td>
			<td><%= password %></td>
		</tr>

	</table>
</body>
</html>